
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
}

header{
    color: #556B2F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a{
    color: #556B2F;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #556B2F;
    border-radius: 5px;
    transform-origin: right;
    overflow: hidden;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scale(1);
}

.table-content {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.8em;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 20px black;
}

.table-content thead  tr{
    background-color: #556B2F;
    color: white;
    text-align: left;
    font-weight: bold;
} 

.table-content th, .table-content td{
    padding: 12px 15px;
}

.table-content tbody tr:nth-of-type(even){
    border-bottom: 1px solid #556B2F;
}

.table-content tbody tr:last-of-type{
    border-bottom: 2px solid #556B2F;
}

.table-content tbody tr.active-row{
    font-weight: bold;
    color: #556B2F;
}
